{% extends based_template %}
{% load static sekizai_tags pagination_tags %}
{% load display_fields common_tags template_design %}

{% block title %}Upload Complete{% endblock %}


{% block right_content %}
	<h4>Upload Complete</h4>

	{% for x in obj.get_valid_files %}
		{% if x.get_issues.upload_issues %}  
		    {% autopaginate x.get_issues.upload_issues 10 as page_issue %} 
		 
			<div class="module full">
				{% regroup page_issue|dictsort:"row" by row as issues_list %}
				
				<table>
					<caption>
						File: {{ x.original_filename }} |
						Uploaded: {{ x.item_count }} | 
						Info: {{ x.get_issues.upload_issues|length }} 
					</caption> 
					<thead>
						<tr>
							<th>Row</th>
							<th>Info</th>
						</tr>
					</thead>
					<tbody>
						{% for issue in issues_list %}
						<tr>      	
							<td> {{ issue.grouper }} </td>
							<td>
								<table>
								{% for obj in issue.list %}
									<tr>
									<td> {{ obj.desc|safe }} </td>
									</tr> 
								{% endfor %}
								</table>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table> 
			</div>
			
			 {% paginate %}
		{% else %}
			There were no issues.
		{% endif %} 
	{% endfor %}

	
{% endblock %}