{% extends based_template %}
{% load static %}
    
{% block title %}Upload {{ upload_setup|title }}{% endblock %}


{% block right_content %}
<h4>Upload: {{ upload_setup }}</h4>

<div class="row">

	<div class="col-md-9">
		<form action="" method="post" id="postform" enctype="multipart/form-data">
			{% csrf_token %}


			<table class="table table-bordered">
				<caption>Form</caption>
				{{ form.as_table }}
				<tr>
					<td></td>
					<td>
						<input class="btn btn-primary btn-sm" type="submit" value="Upload" />
					</td>
				</tr>

			</table>

		</form>
	</div>

	<div class="col-md-3">
		<table class="table table-bordered ">
			<caption>Help</caption>
			<tr>
				<td>
					1. Download sample file to see format expected for upload. <br />
					<a href='{% url "kuploads:model_exporter" upload_setup.pk %}'
					   class="btn btn-outline-primary btn-sm text-center">Download Sample File</a>
				</td>
			</tr>

		</table>
	</div>

</div>

	<div class="module full">

	</div>

{% endblock %}
