{% extends based_template %}
{% load static sekizai_tags %}

{% block title %}Upload: Progress{% endblock %}

{% block right_content %}

	<h4>Upload Progress</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="width: 100px">Number</th>
				<th class="w-100">Name</th>
			</tr>
		</thead>
		<tbody>
		{% for file_dt in sheet_info %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>
				<h6>{{ file_dt.file.original_filename }} </h6>
				{% for sheet in file_dt.sheets %}
				<div class="d-flex">
					<div class="ml-3">
						<p>{{ sheet.name }}</p>
					</div>
					<div class="ml-3 w-75 progress">
						 <div id="{{ file_dt.file.pk }}_{{ sheet.sort }}_progress_bar" class="progress-bar"
							  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							 0
						 </div>
					</div>
				</div>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<div class="card" id="upload_complete_box" style="display: none">
		<div class="card-body text-center text-success">
			Upload completed successfully
		</div>
	</div>

	{% addtoblock "js" %}
		<script src='{% static "kuploads/js/ajaxq.js" %}?v=0.1' type="text/javascript"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				get_progress();
			});

			function get_progress(){
				{% for file_dt in sheet_info %}
				{% for sheet in file_dt.sheets %}
					for (i=1; i<={{ sheet.set_numbers }}; i++){
						var url = '{% url "kuploads:generator" file_dt.file.pk sheet.sort %}';
						url += '?progress=' + i;
						$.ajaxq ("uploader", {
							url: url,
							//cache: true,
							success: function(data) {
								var elem_progress = $("#{{ file_dt.file.pk }}_{{ sheet.sort }}_progress_bar");
								// var percent_val = data.progress + '%';
								elem_progress.html(data.complete_percent_value + '%');
								elem_progress.css('width', data.complete_percent_value + '%');
								elem_progress.attr('aria-valuenow', data.complete_percent_value);

								{% if forloop.last %}
									if (data.complete_is_completed == true){
										$("#upload_complete_box").css('display', 'block');
										complete_url = '{% url "kuploads:complete" object.pk %}';
										window.location.replace(complete_url);
									}
								{% endif %}
							}
						});
					}
				{% endfor %}
				{% endfor %}
			}
		</script>
	{% endaddtoblock %}

{% endblock %} 
