{% load pagination_tags %} 
	
	{# autopaginate issues 10 as page_issue #}
	 
	{% if issues %} 
		<div class="module full">
			{% regroup issues|dictsort:"row" by row as issues_list %}
			
			<table> 
				<thead>
					<tr>
						<th>Row</th>
						<th>Issues</th>
					</tr>
				</thead>
				<tbody>
					{% for issue in issues_list %}
					<tr>      	
						<td> {{ issue.grouper }} </td>
						<td>
							<table>
							{% for obj in issue.list %}
								<tr>
								<td> {{ obj.desc }}  </td>
								</tr> 
							{% endfor %}
							</table>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table> 
		</div>
		
		{% if total_issues > 5 %}
			<a href='{% url "uploads:complete" object.pk %}'>View all issues</a>
		{% endif %}
	{% else %}
		There were no issues.
	{% endif %} 