<div class="module full"> 
	<table>
		<caption>Sample Columns: {{ sample_field_info.object }}</caption>
 
		<tr>
			<td>
				{% for hdr in sample_field_info.sample_headers %}
					<div {% if sample_headers|length >= 3 %}style="width: 30%; float: left"{% endif %}>
						{{ forloop.counter }}. {{ hdr }}
					</div>
				{% endfor %}
			</td> 
		</tr>
		
		<tr>
			<td colspan="{{ sample_field_info.xl_headers|length }}" style="text-align: center; padding: 20px">
			<a class="button" href="{{ sample_field_info.sample_url }}" download="{{ sample_name }}" style="color: #000" >
				Download Sample
			</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<p style="font-size: 11px">
	Please refer to the column headers above and make sure the file you are uploading
	matches them. You can download the sample to see the right format. 
</p>  